{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="col-12">
    <h1>List of currencies</h1>
  </div>
</div>

<div class="row">
  <div class="col-3">
    <table class="table table-striped table-bordered">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Currency</th>
          <th scope="col">Exchange Rate</th>
        </tr>
      </thead>
      <tbody>
        {% for cur in currencies  %}
        <tr>
          <th scope="row">{{loop.index}}</th>
          <td>{{cur.name}}</td>
          <td>{{"{:.2f}".format(cur.exchange_rate)}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
